---
layout: page
title: Upcoming Events
---

<p>RSVP to them by clicking on the event!</p>
<table class="table">
	{% for event in site.data.events %}
		{% if event.date == 'TBA' or event.date == 'TBC' %}
			<tr>
				<td class="col-md-2" style="border-top: none; vertical-align: top;"><a class="anchor" id="{{ event.id }}"></a><h4 style="font-family:monospace;">?? ??? ????</h4></td>
				<td style="border-top: none; vertical-align: middle;">
					<h4>
                                            {% if event.url != 'TBC' or event.url != 'TBA' %}<a href="{{ event.url }}">{{ event.name }}</a>
                                            {% else %}
                                            {{ event.name  }}
                                            {% endif %}

						<span class="hidden-lg"><br></span>

				        (TBA)

				    	<br>

						{% if event.start_time and event.end_time and event.location %}<small>{{ event.start_time | date: '%I:%M %p' | upcase }} &mdash; {{ event.end_time | date: '%I:%M %p %Z' | upcase }} //<span class="hidden-lg"><br></span> {{ event.location }}</small>{% endif %}

					</h4>

					{% if event.description %}{{ event.description | newline_to_br | markdownify }}{% endif %}
				</td>
			</tr>
		{% else %}
			<tr>
				<td class="col-md-2" style="border-top: none; vertical-align: top;"><a class="anchor" id="{{ event.id }}"></a><h4 style="font-family:monospace;">{{ event.date | date: '%d %b %Y' | upcase }}</h4></td>
				<td style="border-top: none; vertical-align: middle;">
					<h4>

                                            {% if event.url != 'TBC' or event.url != 'TBA' %}<a href="{{ event.url }}">{{ event.name }}</a>
                                            {% else %}
                                            {{ event.name  }}
                                            {% endif %}
						<span class="hidden-lg"><br></span>

			              <script type="text/javascript">
			                var eventDate = new Date("{{ event.date | date: '%d %b %Y' | upcase }}");
			                var currentDate = new Date();

			                var dateDiff = eventDate.getTime() - currentDate.getTime();
			                var daysLeft = Math.floor( dateDiff / (1000*60*60*24) );

			                var message = "";

			                switch(daysLeft)
			                {
			                  case 0:
			                    message = "it's tomorrow!";
			                    break;
			                  case -1:
			                    message = "it's today!";
			                    break;
			                  default:
			                    if(daysLeft >= 6) message = "in " + daysLeft + " days";
			                    else if(daysLeft < 0) message = "it's over";
			                    else
			                    {
			                      dayofWeek = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
			                      message = "this coming " + dayofWeek[eventDate.getDay()];
			                    }
			                    break;
			                }

			                document.write("(" + message + ")");
			              </script>

				    	<br>

						{% if event.start_time and event.end_time and event.location %}<small>{{ event.start_time | date: '%I:%M %p' | upcase }} &mdash; {{ event.end_time | date: '%I:%M %p %Z' | upcase }} //<span class="hidden-lg"><br></span> {{ event.location }}</small>{% endif %}

					</h4>

					{% if event.description %}{{ event.description | newline_to_br | markdownify }}{% endif %}
				</td>
			</tr>
		{% endif %}
	{% endfor %}
</table>
