/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

a.anchor {
  display: block; 
  position: relative; 
  top: -70px; 
  visibility: hidden;
}

.mwg-jumbo {
    background-image: url("mwg-2017-content/mwg-jumbo.svg");
    background-size: cover;
    padding: 5em inherit;
    min-height: 500px;
    background-repeat: no-repeat;
}

.btn-xlg, .btn-group-xlg>.btn {
    padding: 12px 16px;
    font-size: 24px;
    line-height: 1.3333333;
    border-radius: 3px;
}